<h1>Index Lists</h1>

<% @lists.each do |list| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h1><%= link_to list.title, list_path(list.id) %></h1>
      <p><%= list.description %></p>
    </div>
  </div>
<% end %>

<h1>Lista via JSON (ANGULAR)</h1>

<div ng-controller="ListIndex as vm" ng-init="vm.load()">
  <div class="panel panel-default" ng-repeat="list in vm.lists">
    <div class="panel-body">
      <h1><a href="/list/{{ list.id }}"> {{ list.title }} </a></h1>
      <p>{{ list.description }}</p>
    </div>
  </div>
</div>
